/* css formats for the gauge */

#speedometerContainer {
	height: 300px;
	width: 340px;
}

.gauge .domain {
	stroke-width: 2px;
	stroke: #000;
}

.gauge .tick line {
	stroke: #000;
	stroke-width: 2px;
}

.gauge line {
	stroke: #000;
}

.gauge .arc, .gauge .cursor {
	opacity: 0;
}

.gauge .major {
	fill: #000;
	font-size: 20px;
	font-family: 'Play', verdana, sans-serif;
	font-weight: normal;
}

.gauge .indicator {
	stroke: #EE3311;
	fill: #000;
	stroke-width: 4px;
}

/* css formats for the segment display */
.segdisplay .on {
	fill: #00FFFF;
}

.segdisplay .off {
	fill: #00FFFF;
	opacity: 0.15;
}

/*PIE Chart stuff: */
.slice text {
    font-size: 16pt;
    font-family: Arial;
}   